$darkGrey: rgb(95, 95, 95);
$almostBlack: rgb(27, 27, 27);

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;

    background-color: rgb(176, 212, 204);
    color: $almostBlack;
  
    padding: 0;
    margin: 0;
   }
   
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color:  rgb(128, 173, 164);
  width: 100%;
  display: flex;
  justify-content: center;
}

.ball {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 200px;
  height: 200px;
  border-radius: 100%;  
  border: 1px solid $darkGrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball-animation {
  animation-name: breathing;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: none;
}

#animation {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#startBtn {
  padding: 5px;
  width: 300px;

  margin-top: 7px;

  font-size: 15px;
  color: white;
  background-color: $darkGrey;

  border: none;

  &:hover {
    background-color: $almostBlack;
  }
}
bo
#instructions {
  text-align: center;
}

#progressBar {
  background-color: $darkGrey;
  width: 300px;
}

#inProgressBar {
  background-color: teal;
  width: 1px;
  height: 30px;
}

@keyframes breathing {
  0% {
    height: 200px;
    width: 200px;
    background-color: teal;
  }

  25% {
    background-color: #549D95;
  }

  50% {
    height: 400px;
    width: 400px;
    background-color:#e7d245;
  }

  75% {
    background-color: #549D95;
  }

  100% {
    height: 200px;
    width: 200px;
    background-color: teal;
  }
}