body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
   }